
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(211, 184, 161);
}

.cv-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
}

.table-container {
    width: 100%;
    border: 1px solid black;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
}

.profile-image {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 auto 30px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 120%;
    object-fit: cover; /* Ajusta la imagen dentro del círculo */
}

/* Encabezados y títulos */
.section-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-align: center;
}

